[Desktop Entry]
Name=Android Studio
Comment=IntelliJ Idea
Exec="/home/alex/android-studio/bin/studio"
Terminal=false
Type=Application
Icon=/home/alex/android-studio/bin/studio.png
